#---------------------------------------------------------------#
#---------------OIDC AUTHENTICATION CONFIGURATIONS--------------#
#---------------------------------------------------------------#
#        Configuration properties used by the CAS OIDC          #
#          Authentication plugin, when it is enabled.           #
#---------------------------------------------------------------#


# The Realm on the OIDC server we should use for authentication
authentication-oidc.auth-server-realm = DEI

# The Base URL of all OIDC server endpoints
authentication-oidc.auth-server-url = https://login.dei.usach.cl/realms/${authentication-oidc.auth-server-realm}

# The URL of the Token endpoint
authentication-oidc.token-endpoint = ${authentication-oidc.auth-server-url}/protocol/openid-connect/token

# The URL of the Authorize endpoint
authentication-oidc.authorize-endpoint = ${authentication-oidc.auth-server-url}/protocol/openid-connect/auth

# The URL of the Introspect endpoint
authentication-oidc.user-info-endpoint = ${authentication-oidc.auth-server-url}/protocol/openid-connect/userinfo

# The registered client id
authentication-oidc.client-id = sic-usach

# The registered client secret
authentication-oidc.client-secret = 5T2iXAuIHY0by78eqVMGrnuNsRQfWRPy

# The redirect url
authentication-oidc.redirect-url = ${dspace.server.url}/api/authn/oidc

# The scopes to request

authentication-oidc.scopes = openid
# email y profile temporalmente removidos - cliente sic-usach en Keycloak USACH no los tiene asignados
#authentication-oidc.scopes = email
#authentication-oidc.scopes = profile

# Specify if the user can self register using OIDC (true|false). If not specified, true is assumed
# This should match the configuration of the OIDC server you are using. The default setting for
# Keycloak is true. Do set it to false if your OIDC server disallows self-registration. Otherwise,
# leave this set to true.
authentication-oidc.can-self-register = true

#Specify the attribute present in the user info json related to the user's email
authentication-oidc.user-info.email = email

#Specify the attribute present in the user info json related to the user's first name
authentication-oidc.user-info.first-name = nombre

#Specify the attribute present in the user info json related to the user's last name
authentication-oidc.user-info.last-name = apellidos

# Mapeos adicionales (Claims)
authentication-oidc.user-info.username = user
authentication-oidc.user-info.rut = rut
authentication-oidc.user-info.tipo = tipo
